
//- block styles
//-   link(rel='stylesheet', href='../plugins/bulma-extensions/bulma-carousel/dist/bulma-carousel.min.css')
//-   link(rel='stylesheet', href='../stylesheets/register.css')
  

//- block content
//-   .fluid-container
//-     .registerbox
//-       |Registration Form
//-       form(role='form', action="",method="post")
//-         h1= info
//-         .control
//-           input.input.is-small(type='text', placeholder='Username',name="username")
          

//-         .control
//-           input.input.is-small(type='password', placeholder='Password',name="password")
          
//-         .field.is-grouped
//-           p.control
//-             button.button.is-success(type='submit')
//-               | Submit
//-           p.control
//-             a(href='/').button.is-light
//-               | Cancel



head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Register

  link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
  link(href='/stylesheets/base.css', rel='stylesheet')
  link(href='/vendors/mdbootstrap/css/bootstrap.min.css', rel='stylesheet')
  link(href='/vendors/mdbootstrap/css/mdb.min.css', rel='stylesheet')
  link(href='/stylesheets/bootstrap.css', rel='stylesheet')
  
body(style='background-color:#cad2d9')
  main
    .container(style='margin-top:5%;')
      .row
        .col-md-3
        .col-md-6
          .card(style='')
            .card-header.white-text.text-center.py-3(style='background-color:#181c1f')
              |Register
            // Card content
            .card-header.white-text.text-center.py-2(style='background-color:#555555')
            .card-body.px-lg-5.pt-0
              // Form
              h5=info
              form.text-center(style='background-color:#ffffff', action="",method="post")
                .md-form
                  input#materialLoginFormName.form-control(type='text',  name='name' required )
                  label(for='materialLoginFormName') Name*
                .md-form
                  input#materialLoginFormDob.form-control(type='text',  name='dob'  onfocus="(this.type='date')" required)
                  label(for='materialLoginFormDob') dob*
                .md-form
                  input#materialLoginFormEmail.form-control(type='email', name='username')
                  label(for='materialLoginFormEmail') Email*
                select.form-select.resiter-select(aria-label='Default select example' required  name="gender")
                  option(value='') Select Gender*
                  option(value='male') Male
                  option(value='female') Female
                  option(value='other') others
                .md-form
                  input#materialLoginFormPassword.form-control(type='password',  name='password' )
                  label(for='materialLoginFormPassword') Password*
                .d-flex.justify-content-flex-start
                    p  Already registered  &nbsp 
                    a(href="/login")  Login
                    // Forgot password
                // Sign in button
                button.btn.btn-rounded.btn-block.my-4.waves-effect.z-depth-0(type='submit',style='background-color:#555555') register
              // Form
  script(src='/vendors/mdbootstrap/js/jquery-3.3.1.min.js')
  script(src='/js/popper.js')
  script(src='/vendors/mdbootstrap/js/bootstrap.min.js')
  script(src='/vendors/mdbootstrap/js/mdb.min.js')
